/* RESPONSIVE SMARTPHONE */
@media only screen and (max-width: 600px) {
  .floating-text-home {
    position: absolute;
    right: -3vw;
    top: 32vw;
    border: solid 2px var(--color-3);
    border-radius: 0.2em;
    padding: 0.5rem;
    width: 45vw;
    background-color: var(--color-2);
    background-blend-mode: darken;
    color: var(--color-3);
    animation: pulse-1 3.5s ease-in-out infinite;
  }
  .container1-home {
    background: rgba(46, 46, 46, 0.72);

    padding: 2rem;
    margin-top: 0.5rem;
  }
  .main__container1-home {
    text-align: center;
    width: 100%;
    color: var(--color-2);
  }
  .container1-home {
    background: rgba(46, 46, 46, 0.72);
    /* display: flex;
  gap: -4rem;
  justify-content: center;
  flex-direction: column; */
    padding: 2rem;
    margin-top: 0.5rem;
  }
  /* next btn */
  .nextStep {
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    font-family: var(--font-1);
    position: absolute;
    right: 0;
    bottom: 65vw;
    border: solid 2px var(--color-3);
    border-radius: 0.4rem;
    width: 30vw;
    background-color: var(--color-2);
    background-blend-mode: darken;
    color: var(--color-3);
    animation: pulse-1 3.5s ease-in-out infinite;
  }

  /* FIN RESPONSIVE SMARTPHONE */

}
.body__container-home {
  margin: auto;
  /*   max-width: 90vw;
  max-height: 90%; */
  font-family: var(--font-1);
}

/* MAIN */
.main-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main__container1-home {
  text-align: center;
  width: 55%;
  color: var(--color-2);
}

.aside-left-home {
  position: absolute;
  background: rgba(46, 46, 46, 0.72);
  left: 50px;
  top: 150px;
  color: var(--color-2);
  padding: 0.6em;
  border-radius: 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.aside-img-home {
  position: relative;
  height: 50px;
}
.aside-img-home:hover {
  animation: pulse-1 1s infinite;
}
.main__container1-home,
.main__container2-home h3 {
  margin: 0.5rem;
}
/* container api pokemon */

/* RESPONSIVE PC */
@media only screen and (min-width: 601px) and (max-width: 1600px) {
  .container1-home {
    background: rgba(46, 46, 46, 0.72);
    padding: 2rem;
    margin-top: 0.5rem;
    border-radius: 1em;
  }
  .floating-text-home {
    position: absolute;
    right: 15vw;
    top: 15vw;
    border: solid 2px var(--color-3);
    border-radius: 0.8rem;
    padding: 1.5rem;
    width: 25vw;
    background-color: var(--color-2);
    background-blend-mode: darken;
    color: var(--color-3);
    animation: pulse-1 3.5s ease-in-out infinite;
  }
  /* next btn */
  .nextStep {
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    font-family: var(--font-1);
    position: absolute;
    right: 12vw;
    bottom: 27vw;
    border: solid 2px var(--color-3);
    border-radius: 0.8rem;
    width: 12vw;
    background-color: var(--color-2);
    background-blend-mode: darken;
    color: var(--color-3);
    animation: pulse-1 3.5s ease-in-out infinite;
  }
}

/* FIN RESPONSIVE PC */

.profesor-home {
  width: 20vh;
  padding: 1em;
}

.poke-type-home {
  color: red;
}

.pokeballs-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.pokeball-up-home,
.pokeball-down-home {
  width: 12vh;
}
.pokeball-1-home,
.pokeball-2-home,
.pokeball-3-home {
  display: flex;
  flex-direction: column;
}
/* INICIO ANIMACION POKEBALLS HOVER */
.pokeball-1-home:hover,
.pokeball-2-home:hover,
.pokeball-3-home:hover {
  animation: shake 0.8s infinite alternate; /* Animate for 1.5 seconds on hover */
}

.nextStep:hover {
  color: var(--color-1);
  animation: shake 2s infinite alternate; /* Animate for 1.5 seconds on hover */
}

/* FIN ANIMACION */

/* animacion pulse-1 */
@keyframes pulse-1 {
  0% {
    transform: scale(0.85);
    opacity: 0.9;
  }
  25% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  50% {
    transform: scale(0.85);
    opacity: 0.9;
  }
  75% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  100% {
    transform: scale(0.85);
    opacity: 0.9;
  }
}
/* animacion pulse  */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
    10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
    20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes pulse-2 {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}

@media only screen and (max-width: 600px) {
  .aside-left-home {
    position: absolute;
    background: rgba(46, 46, 46, 0.72);
    left: 10px;
    top: 150px;
    color: var(--color-2);
    padding: 0.3em;
    border-radius: 1.5rem;
    gap: 2rem;
    display: none;
    flex-direction: column;
  }
  .aside-img-home {
    position: relative;
    height: 40px;
  }
  .main__container1-home {
    width: 100%;
  }
  .container1-home {
    background: rgba(46, 46, 46, 0.72);
    width: 100vw;
  }
}
