/* FIN RESPONSIVE PC */

.profesor-home {
  width: 20vh;
  padding: 1em;
}

.pokeball-up-home,
.pokeball-down-home {
  width: 12vh;
}
.pokeball-1-home,
.pokeball-2-home,
.pokeball-3-home {
  display: flex;
  flex-direction: column;
}

.nextStep:hover {
  color: var(--color-1);
  animation: shake 2s infinite alternate; /* Animate for 1.5 seconds on hover */
}
