.polka-bg {
  background-image: radial-gradient(rgb(0, 0, 0) 18%, transparent 18%),
    radial-gradient(rgb(0, 0, 0) 18%, transparent 18%);
  background-position: 0px 0px, 8px 8px;
  background-size: 16px 16px;
  background-color: var(--color-1);
  animation: diagonal-move-anim 8s linear infinite alternate;
  min-height: 100vh;
}

@media only screen and (max-width: 600px) and(max-height:600px) {
  .polka-bg {
    background-image: radial-gradient(rgb(0, 0, 0) 18%, transparent 18%),
      radial-gradient(rgb(0, 0, 0) 18%, transparent 18%);
    background-position: 0px 0px, 8px 8px;
    background-size: 16px 16px;
    background-color: var(--color-1);
    animation: diagonal-move-anim 8s linear infinite alternate;
    min-height: 100vh;
  }
}



@keyframes diagonal-move-anim {
  0% {
    background-position: 0px 0px, 8px 8px;
  }
  25% {
    background-position: 0px -16px, 0px 0px;
  }
  50% {
    background-position: -16px 0px, -8px -8px;
  }
  75% {
    background-position: 8px -8px, 8px 8px;
  }
  100% {
    background-position: -8px 0px, 8px -8px;
  }
}
