:root {
  --color-1: rgb(237, 24, 55);
  --color-2: #fafafa;
  --color-3: #000;
  --font-1: "Saira";
  --font-2: "Saira Condensed";
  --fw-1: 400;
  --fw-2: 600;
  --fw-3: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
